PegglePy_Demo.mkv

.vscode/settings.json
.vscode/launch.json
.gitignore

__pycache__
.vscode/c_cpp_properties.json

user.cfg

*.prof

# ignore all level files except for 'official' levels
```
*.lvl
!Level 1.lvl
!Level 2.lvl
!Level 3.lvl
!Level 4.lvl
!Level 5.lvl
!Level 6.lvl
!Level 7.lvl
!Level 8.lvl
!Level 9.lvl
!Level 10.lvl
```
